/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";

.input-div{
  align-items: center;
  display: flex;
  justify-content: center;
}

.post-input {
  width: 100%;
  }

.notif {
  background-color: #dee2e2;
  color: black;
  padding: 5px;
  margin-bottom: 20px;
}

body {
    background: navy;
    color: white;
}
